#home{
    background-image: url('./assets/backgrounds/h_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    text-align:center;
    padding-top:20vh;
    color: white;;
}
#about{
    background-color: white;
    text-align: center;
}
#services{
    background-image: url('./assets/backgrounds/s_image.jpg');
    background-size: cover;
    color:white;
    text-align:center;
}

#pp h2{
    width: 100%;
    height: auto;
}
#pp img{
    width: 100%;
}
#pp div{
    width: 24%;
    margin: 10px 0;
}

#do{
    text-align: center;
}
#mouse{
margin-top:18% ;
}
#contact{
    background-image: url('./assets/backgrounds/c_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
buttton{

    background-color: white;
}
.form{
    width:21vw;
    background-color: transparent;
    transition: width 0.4s ease-in-out;
    margin:20px 50px;
}
#mesg {
    background-color: transparent;
}
.tail{
    text-align:center;
}

.hide2, .hide1, .hide3 {
    display:none;

}
.njoro{
    text-align:center;
}
footer{
    text-align: center;
    margin-top: 2%;
}

