@media only screen and(max-width:900px){
    #input2{
        margin-left: 0%;
    }
}


html{
    scroll-behavior: smooth;
}
#home{
    background-image: url('./assets/backgrounds/h_img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    text-align:center;
    padding-top:20vh;
    color: white;
}
#about{
    background-color: white;
    text-align: center;
    font-weight:bold;
}
#about h2{
    padding-top: 3%;
}
#services{
    background-image: url('./assets/backgrounds/s_image.jpg');
    background-size: cover;
    color:white;
    text-align:center;
    letter-spacing: 1px;

}
#services h2{
    padding-top:1.5%;
}
.opacity{
    opacity:0.7;
    text-align: center;
    padding-top: 40px;
    font-size: 25px;
}
#trialp{
    color: white;
    display:none;

}
hide1,hide2,hide3{
    font-family: 'Sofia', cursive;

}

#trial{
    background-image:url('./assets/portfolio/work3.jpg');
}
#trial1{
   background-image: url('./assets/portfolio/work4.jpg');

}
#trial2{
    background-image: url('./assets/portfolio/work2.jpg');
}
#trial3{
    background-image: url('./assets/portfolio/work1.jpg');
}

#pp h2{
    width: 100%;
    height: auto;
}
#pp img{
    width: 100%;
}
#pp div{
    width: 24%;
    margin: 10px 0;
}

#do{
    text-align: center;
}
#mouse{
margin-top:18% ;
}
#contact{
    background-image: url('./assets/backgrounds/c_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
button{

    background-color: white;
}
.form{
    background-color: transparent;
    transition: width 0.4s ease-in-out;
    margin:20px 10px;
}
#myForm{
    width: 70%;
    margin-left: 20%;
}
#input2{
    margin-left: -21%;
}

#mesg {
    background-color: transparent;
}
.tail{
    text-align:center;
}

.hide2, .hide1, .hide3 {
    display:none;
    font-family: 'Sofia';
    font-size:20px;


}
.njoro{
    text-align:center;
}
footer{
    text-align: center;
    margin-top: 2%;
}

